<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/styles/bulma.min.css" />
  <title><%= title %></title>   
   <!--Se passarmos algo na pagina em que esta a partial como objeto, fica disponível aqui como variavel
        agora o titulo da pagina pode mudar de acordo  -->
</head>
<body>
